{% extends "base.html" %}

{% block title %}
  {% if selected_season %}
    xG Map - {{ selected_season.competition.name }} {{ selected_season.name }}
  {% else %}
    xG Map
  {% endif %}
{% endblock %}
{% block extra_css %}{% endblock %}

{% block c_title %}XG Map{% endblock %}

{% block content %}
<div class="competition-search">
  <form method="get" class="search-form">
    <div class="input-field field">
      <select name="competition" id="competition">
        {% for c in competitions %}
          <option value="{{ c.id }}"
          {% if selected_competition and c.id == selected_competition.id %}selected{% endif %}>
            {{ c.name }}
          </option>
        {% endfor %}
      </select>
      <label>Competition:</label>
    </div>
    <div class="input-field field">
      <select name="season" id="season">
        {% for s in seasons %}
          <option value="{{ s.id }}"
          {% if selected_season and s.id == selected_season.id %}selected{% endif %}>
            {{ s.name }}
          </option>
        {% endfor %}
      </select>
      <label>Season:</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" >Search
      <i class="material-icons right">search</i>
    </button> 
  </form>
</div>

<div class="row">
  <div class="col s12">
    <h5>
      {% if selected_season %}
        {{ selected_season.competition.name }} {{ selected_season.name }}
      {% else %}
        xG Map
      {% endif %}
    </h5>
    <div class="chart-shell">
      <div class="chart-frame">
        <canvas id="xgScatter" height="100"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const teams = {{ teams|safe }};
const xgf = {{ xgf|safe }};
const xga = {{ xga|safe }};

const data = teams.map((team, i) => ({
  label: team,
  data: [{ x: xgf[i], y: xga[i] }]
}));

const ctx = document.getElementById("xgScatter").getContext("2d");

new Chart(ctx, {
  type: "scatter",
  data: {
    datasets: data
  },
  options: {
    plugins: {
      tooltip: {
        callbacks: {
          label: ctx =>
            ctx.dataset.label +
            ": xGF=" + ctx.raw.x +
            ", xGA=" + ctx.raw.y
        }
      }
    },
    scales: {
      x: {
        title: { display: true, text: "xG For (Attacking Strength)" }
      },
      y: {
        title: { display: true, text: "xG Against (Defensive Weakness)" },
        reverse: true
      }
    }
  }
});
</script>
{% endblock %}
