{% extends "base.html" %} 

{% block title %}Dashboard{% endblock %} 

{% block c_title %}League Dashboard{% endblock %}

{% block content %}
<pre>{{ shots_json }}</pre>

<svg viewBox="0 0 120 80" class="pitch" style="width:100%">
  <rect width="120" height="80" fill="#2e7d32"/>
</svg>
{% endblock %}

{% block extra_js %}
<script>
const shots = JSON.parse('{{ shots_json|escapejs }}')
const pitch = document.querySelector(".pitch")

shots.forEach(s => {
  const c = document.createElementNS("http://www.w3.org/2000/svg", "circle")

  c.setAttribute("cx", s.fields.x)
  c.setAttribute("cy", s.fields.y)
  c.setAttribute("r", s.fields.xg * 6)

  c.setAttribute(
    "fill",
    s.fields.outcome === "goal" ? "#ff5252" : "#ffd54f"
  )

  c.setAttribute("opacity", 0.75)
  pitch.appendChild(c)
})
</script>
{% endblock %}
