{% load static %}
{% load range_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FutBall - {% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'futball/css/futball.css' %}">

  {% block extra_css %}{% endblock %}
</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="brand">
      <a href="{% url 'dashboard' %}">⚽ FutBall</a>
    </div>

    <ul>
      <li>
        <a href="{% url 'dashboard' %}"
          class="{% if request.path == '/futball/' %}active{% endif %}">
          Dashboard
        </a>
      </li>
      <li>
        <a href="{% url 'league-table' %}"
           class="{% if '/futball/table/' in request.path %}active{% endif %}">
          Klasemen
        </a>
      </li>
      <li>
        <a href="{% url 'xg-map' %}"
           class="{% if '/futball/xg/' in request.path %}active{% endif %}">
          xG Map
        </a>
      </li>
    </ul>
  </nav>

  <!-- CONTENT -->
  <div class="row">
    <div class="col s9">
      <div class="content">
        {% block content %}{% endblock %}
      </div>    
    </div>
    <div class="col s3">
      <div class="news-section">
        <h2 class="news-title">Football News</h2>
          {% for i in 5|times %}
            <div class="news-item">
              <div class="news-thumbnail">
                <img src="{% static 'futball/img/news_placeholder.png' %}" alt="News Image {{ i }}">
              </div>
              <div class="news-content">
                <h2 class="news-headline">News Headline {{ i }}</h2>
                <div class="news-summary">
                  <p>This is a summary of news item {{ i }}. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="news-date">
                  <small>Published on 2024-06-0{{ i }}</small>
                </div>
                <div class="news-link">
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>

  <footer>
    FutBall • Django Web App • 2026
  </footer>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static 'futball/js/futball.js' %}"></script>
  <script>
    const competitionSelect = document.getElementById("competition");
    if (competitionSelect) {
        //get data season per competition
        const seasonsData = JSON.parse("{{ season_json_data|escapejs }}");

        //update season options when competition changes
        competitionSelect.addEventListener("change", () => {
          const selectedCompetitionId = competitionSelect.value;
          const seasonSelect = document.getElementById("season");
          seasonSelect.innerHTML = "";
          seasonsData.forEach(s => {
            if (s.fields.competition == selectedCompetitionId) {
              const option = document.createElement("option");
              option.value = s.pk;
              option.text =  s.fields.name;
              seasonSelect.appendChild(option);
            }
          });
      });
    }
  </script>
  {% block extra_js %}{% endblock %}
</body>
</html>
