{% load static %}
{% load range_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FutBall - {% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Slab:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'futball/css/futball.css' %}">

  {% block extra_css %}{% endblock %}
</head>

<body>

  <!-- NAVBAR -->
  <nav>
    <div class="nav-wrapper bg-primary">
      <a href="{% url 'dashboard' %}" class="brand-logo">⚽ FutBall</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="{% if request.path == '/futball/' %}active{% endif %}"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="{% if '/futball/klasemen/' in request.path %}active{% endif %}"><a href="{% url 'league-table' %}">Klasemen</a></li>
        <li class="{% if '/futball/xg/' in request.path %}active{% endif %}"><a href="{% url 'xg-map' %}">xG Map</a></li>
      </ul>
    </div>
  </nav>

  <!-- CONTENT -->
  <div class="row">
    <div class="col s12 l9">
      <div class="content">
        <h2>{% block c_title %}{% endblock %}</h2>
        
        {% block content %}{% endblock %}
      </div>    
    </div>
    <div class="col s12 l3">
      <div class="news-section">
        <h2 class="news-title">Football News</h2>
          {% for i in 5|times %}
            <div class="news-item">
              <div class="news-thumbnail">
                <img src="{% static 'futball/img/news_placeholder.png' %}" alt="News Image {{ i }}">
              </div>
              <div class="news-content">
                <h2 class="news-headline">News Headline {{ i }}</h2>
                <div class="news-summary">
                  <p>This is a summary of news item {{ i }}. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="news-date">
                  <small>Published on 2026-06-0{{ i }}</small>
                </div>
                <div class="news-link">
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>

  <footer>
    FutBall • Django Web App • 2026
  </footer>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{% static 'futball/js/futball.js' %}"></script>
  <script>
    M.AutoInit();
    
    const competitionSelect = document.getElementById("competition");
    if (competitionSelect) {
        //get data season per competition
        const seasonsData = JSON.parse("{{ season_json_data|escapejs }}");

        //update season options when competition changes
        competitionSelect.addEventListener("change", () => {
          const selectedCompetitionId = competitionSelect.value;
          const seasonSelect = document.getElementById("season");
          
          //delete select wrapper
          const instance = M.FormSelect.getInstance(seasonSelect);
          if (instance) instance.destroy();

          seasonSelect.innerHTML = "";
          seasonsData.forEach(s => {
            if (s.fields.competition == selectedCompetitionId) {
              const option = document.createElement("option");
              option.value = s.pk;
              option.text =  s.fields.name;
              seasonSelect.appendChild(option);
            }
          });

          //re-initialize
          M.FormSelect.init(seasonSelect);
      });
    }
  </script>
  {% block extra_js %}{% endblock %}
</body>
</html>
